<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Icon</string>
			<key>CFBundleTypeName</key>
			<string>AJ File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>alex.com.CompiladorUI.aj</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AJ Programming language</string>
			<key>UTTypeIconFile</key>
			<string>Icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>swift</string>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>AJ</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>alex.com.CompiladorUI.aj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aj</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AJ Programming language</string>
			<key>UTTypeIconFile</key>
			<string>Icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>swift</string>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>AJ</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>alex.com.CompiladorUI.aj</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aj</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
