# Request.ValidationResult

Used to represent whether validation was successful or encountered an error resulting in a failure.

``` swift
public enum ValidationResult 
```

  - success: The validation was successful.

  - failure: The validation failed encountering the provided error.

## Enumeration Cases

### `success`

``` swift
case success
```

### `failure`

``` swift
case failure(Error)
```

### `success`

``` swift
case success
```

### `failure`

``` swift
case failure(Error)
```

### `success`

``` swift
case success
```

### `failure`

``` swift
case failure(Error)
```
